<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Dashboard</title>

    <!-- Custom styles for this template -->

    <script src="js/dashboard.js"></script>
    <script src="js/dashboard-remplissage.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <link href="dashboard.css" rel="stylesheet" type="text/css">

    <!-- JS Scripts -->

    <script>
        var poubelles;
        var map;
        var markers = [];
        var infowindow;
        var icons = {
            0: {
                icon: '/ic_bin.png'
            },
            1: {
                icon: '/ic_bin_full.png'
            }
        };
        function initMap() {
            var lyon = { lat: 45.75, lng: 4.85 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: lyon
            });


            google.maps.event.addListener(map, 'zoom_changed', function () {
                var zoom = map.getZoom();
                // iterate over markers and call setVisible
                /*for (i = 0; i < markers.length; i++) {
                    markers[i].setVisible(zoom >= 14);
                }*/
                var pixelSizeAtZoom0 = 2; //the size of the icon at zoom level 0
                var maxPixelSize = 2; //restricts the maximum size of the icon, otherwise the browser will choke at higher zoom levels trying to scale an image to millions of pixels

                var zoom = map.getZoom();
                var relativePixelSize = Math.round(pixelSizeAtZoom0 * Math.pow(2, -zoom)); // use 2 to the power of current zoom to calculate relative pixel size.  Base of exponent is 2 because relative size should double every time you zoom in

                if (relativePixelSize > maxPixelSize) //restrict the maximum size of the icon
                    relativePixelSize = maxPixelSize;

                //change the size of the icon
                for (i = 0; i < markers.length; i++) {
                    marker.setIcon(
                        new google.maps.MarkerImage(
                            marker.getIcon().url, //marker's same icon graphic
                            null,//size
                            null,//origin
                            null, //anchor
                            new google.maps.Size(relativePixelSize, relativePixelSize) //changes the scale
                        )
                    );
                    markers[i].setVisible(zoom >= 13);
                }
            });
        };

        function getMarker(img) {
            var marker = markers.find(function (element) {
                return element.position == img.id;
            });
            map.setCenter(marker.position);
            map.setZoom(16);
            google.maps.event.trigger(marker, 'click');
            window.scrollTo(0, 0);
        };
    </script>

    <script>

        $(document).ready(function () { init(); });

    </script>
    <script>
        //filtrage remplissage
        $("#checkbox").click(function () {
            if ($("#checkbox").is(":checked")) {
                alert("check");
            }
        });
    </script>
</head>

<body>

    <!-- En-tête -->
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
      <div class="container-fluid">
        <a class="navbar-brand col-sm-3 col-md-11 mr-0" href="#">Recyc'Lyon - Interface Grand Lyon</a>
      <!--  <ul class="navbar-nav px-5">
            <li class="nav-item text-nowrap text-white">
                <span data-feather="log-out" onclick="logout();"></span>
            </li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item text-nowrap text-white">
            <a href="#">
              <span data-feather="log-out" onclick="logout();"></span>
            </a>
          </li>
        </div>
    </nav>


    <!-- Menu gauche -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="./Dashboard">
                                <span data-feather="trash-2"></span>Remplissage
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Dashboard-Collecte">
                                <span data-feather="trash"></span>
                                Collecte
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Dashboard-Analyse">
                                <span data-feather="activity"></span>
                                Analyse
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>




    <!-- zone centrale -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="loader" id="loader"></div>
                </div>
                <div class="col-md-10">
                    <h1>Remplissage des bennes</h1>
                </div>
            </div>
        </div>
        <progress id="Progress_Bar" value="0" max="100">0 %</progress>
        <!-- Map -->
        <div id="map" ></div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmnkXd0ojkMKWNFtGQxkaMZVNVuhXY75w&callback=initMap"></script>

        <!-- Barre de recherche -->
        <div class="flex-row-reverse">
            <nav class="navbar col-md-12 d-flex justify-content-end navbar-dark bg-dark p-0">
                <div class="form-check form-check-inline">
                    <label class="form-check-label text-light">
                        <input id="checkbox" type="checkbox" class="form-check-input " value="" onchange="toogleRemplissage(this);">Bennes pleines uniquement
                    </label>
                </div>
                <select class="form-control w-25 mr-1" id="sel1" onchange="changeLocationFilter(this);">
                    <option> </option>
                    <option>Lyon 1 69001</option>
                    <option>Lyon 2 69002</option>
                    <option>Lyon 3 69003</option>
                    <option>Lyon 4 69004</option>
                    <option>Lyon 5 69005</option>
                    <option>Lyon 6 69006</option>
                    <option>Lyon 7 69007</option>
                    <option>Lyon 8 69008</option>
                    <option>Villeurbanne 69100</option>
                </select>
                <input class="form-control form-control-dark w-25" type="text" placeholder="Recherche" aria-label="Recherche">
            </nav>
        </div>

        <table id="recap" class="display" style="width:100%">
            <thead>
                <tr>
                    <th> </th>
                    <th>#</th>
                    <th>Adresse</th>
                    <th>Etat du remplissage</th>
                    <th>Gestionnaire</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

</body>

</html>
