<html>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script>
        $(document).ready(function () {
        //event handler for submit button
        $("#btnSubmit").click(function () {
            //collect userName and password entered by users
            var password = $("#password").val();
            var url = window.location.pathname;
            //call the authenticate function
            authenticate(password, url);
        });
    });

    //authenticate function to make ajax call
    function authenticate(password, url) {
        $.ajax
        ({
            type: "POST",
            contentType:"application/json",
            //the url where you want to sent the userName and password to
            url: `${url}`,
            dataType: 'json',
            //json object to sent to the authentication url
            data: '{"password" : "' + password + '"}',
            success: function () {
              console.log("HELLO");
                //do any process for successful authentication here
                alert('SUCESS');
            }
        });
    };
    </script>
 <head>
   <meta charset="utf-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
          margin-top: 10px;
        }
    </style>
 </head> 
<body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-sign-in"></span> Mot de passe oublié</h1>
            <label>New password: </label>
            <input type="password" id="password"/>
          <div>
            <button id="btnSubmit" type="button" class="btn btn-primary">Valider</button>
          </div>
      </div>
    </div>
  </body>
</html>
